<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ksu.mydelivery">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="Login"></activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ksu.mydelivery.LoginActivity" />
        </activity>
        <activity
            android:name=".SignUpProviderActivity"
            android:label="@string/title_activity_sign_up_provider"
            android:parentActivityName=".SignUpActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ksu.mydelivery.SignUpActivity" />
        </activity>
        <activity
            android:name=".AddRequestActivity"
            android:label="Add Request"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".ProfileActivity"
            android:label="Profile"
            android:parentActivityName=".ProfileActivity" />
        <activity
            android:name=".EditPassActivity"
            android:label="Change Password"
            android:parentActivityName=".EditPassActivity" />
        <activity
            android:name=".TipsActivity"
            android:label="Tips"
            android:parentActivityName=".TipsActivity" />
        <activity
            android:name=".AboutActivity"
            android:label="About Us"
            android:parentActivityName=".AboutActivity" />
        <activity
            android:name=".ContactActivity"
            android:label="Contact Us"
            android:parentActivityName=".ContactActivity" />
        <activity
            android:name=".ShareActivity"
            android:label="Share App"
            android:parentActivityName=".ShareActivity" />
        <activity
            android:name=".MyRequestActivity"
            android:label="My Request"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeProviderActivity"
            android:label="Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddOfferActivity"
            android:label="Add Offer"
            android:parentActivityName=".AddOfferActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ksu.mydelivery.LoginActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>