<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ksu.mydelivery">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="@android:icon">
        <activity
            android:name=".LoginActivity"
            android:label="Login" />
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ksu.mydelivery.LoginActivity" />
        </activity>
        <activity
            android:name=".SignUpProviderActivity"
            android:label="@string/title_activity_sign_up_provider"
            android:parentActivityName=".SignUpActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ksu.mydelivery.SignUpActivity" />
        </activity>
        <activity
            android:name=".AddRequestActivity"
            android:label="Add Request"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".ProfileActivity"
            android:label="Profile"
            android:parentActivityName=".ProfileActivity" />
        <activity
            android:name=".EditPassActivity"
            android:label="Change Password"
            android:parentActivityName=".EditPassActivity" />
        <activity
            android:name=".TipsActivity"
            android:label="Tips"
            android:parentActivityName=".TipsActivity" />
        <activity
            android:name=".AboutActivity"
            android:label="About Us"
            android:parentActivityName=".AboutActivity" />
        <activity
            android:name=".ContactActivity"
            android:label="Contact Us"
            android:parentActivityName=".ContactActivity" />
        <activity
            android:name=".ShareActivity"
            android:label="Share App"
            android:parentActivityName=".ShareActivity" />
        <activity
            android:name=".MyRequestActivity"
            android:label="My Request"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddOfferActivity"
            android:label="Add Offer"
            android:parentActivityName=".AddOfferActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="Home"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ksu.mydelivery.LoginActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditRequestActivity"
            android:label="Edit Request"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditOfferActivity"
            android:label="Edit Offer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeProviderActivity"
            android:label="Home Provider"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyOfferActivity"
            android:label="My Offer" />
        <activity android:name=".ProfileProviderActivity" />
        <activity
            android:name=".HomeAdminActivity"
            android:label="@string/title_activity_home_admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SuspendUserActivity" />
        <activity android:name=".VerifyProviderActivity" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".AssignedRequestActivity" />
    </application>

</manifest>